---
import "@fontsource-variable/dm-sans";
import { getRelativeLocaleUrl } from "astro:i18n";
const currentLang = Astro.currentLocale || "es";
---

<!doctype html>
<html lang={currentLang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Arxatec</title>
  </head>
  <body class="text-gray-900 font-sans bg-slate-100">
    <!-- {getRelativeLocaleUrl(currentLang, "/")} -->
    <slot />
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
