<div class="py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="bg-white shadow-sm rounded-xl p-6">
      <div class="max-w-4xl text-center">
        <h2 class="text-base font-semibold text-blue-600 text-left">Precios</h2>
        <p
          class="mt-2 text-balance text-left text-4xl font-semibold tracking-tight text-gray-900 sm:text-4xl font-robotoSlab"
        >
          Planes flexibles para cada necesidad
        </p>
      </div>
      <p
        class="mt-6 max-w-2xl text-pretty text-left text-base font-medium text-gray-600"
      >
        Elige el plan que mejor se adapte a ti. Desde acceso esencial hasta
        herramientas avanzadas, en Arxatec te damos el poder de llevar tu
        práctica legal al siguiente nivel.
      </p>
    </div>

    <div class="bg-white shadow-sm rounded-xl mt-2 p-6">
      <div
        class="isolate mx-auto grid max-w-md grid-cols-1 gap-8 lg:mx-0 lg:max-w-none lg:grid-cols-3"
      >
        <div class="rounded-3xl p-8 ring-1 ring-gray-200 xl:p-10">
          <div class="flex items-center justify-between gap-x-4">
            <h3
              id="tier-freelancer"
              class="text-lg/8 font-semibold text-gray-900"
            >
              Gratis por siempre
            </h3>
          </div>
          <p class="mt-4 text-sm/6 text-gray-600">
            Acceso a consultas básicas y revisión de contratos laborales
          </p>
          <p class="mt-6 flex items-baseline gap-x-1">
            <span class="text-4xl font-semibold tracking-tight text-gray-900"
              >$0</span
            >
            <span class="text-sm/6 font-semibold text-gray-600">/mes</span>
          </p>
          <a
            href="#"
            aria-describedby="tier-freelancer"
            class="mt-6 block rounded-md px-3 py-2 text-center text-sm/6 font-semibold text-blue-600 ring-1 ring-inset ring-blue-200 hover:ring-blue-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
            >Comienza gratis</a
          >
          <ul
            role="list"
            class="mt-8 space-y-3 text-sm/6 text-gray-600 xl:mt-10"
          >
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-blue-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Hasta 2 consultas básicas al mes
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-blue-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Revisión de hasta 2 contratos laborales
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-blue-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Acceso a recursos educativos limitados
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-blue-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Soporte por correo electrónico
            </li>
          </ul>
        </div>
        <div class="rounded-3xl p-8 ring-2 ring-blue-600 xl:p-10">
          <div class="flex items-center justify-between gap-x-4">
            <h3 id="tier-startup" class="text-lg/8 font-semibold text-blue-600">
              Fundamental
            </h3>
            <p
              class="rounded-full bg-blue-600/10 px-2.5 py-1 text-xs/5 font-semibold text-blue-600"
            >
              Más popular
            </p>
          </div>
          <p class="mt-4 text-sm/6 text-gray-600">
            Asesoría avanzada y gestión de conflictos laborales
          </p>
          <p class="mt-6 flex items-baseline gap-x-1">
            <span class="text-4xl font-semibold tracking-tight text-gray-900"
              >$12</span
            >
            <span class="text-sm/6 font-semibold text-gray-600">/mes</span>
          </p>
          <a
            href="#"
            aria-describedby="tier-startup"
            class="mt-6 block rounded-md bg-blue-600 px-3 py-2 text-center text-sm/6 font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
            >Comprar plan</a
          >
          <ul
            role="list"
            class="mt-8 space-y-3 text-sm/6 text-gray-600 xl:mt-10"
          >
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-blue-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Hasta 5 consultas amplias al mes
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-blue-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Revisión de contratos laborales sin límite
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-blue-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Acceso a todos los recursos educativos
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-blue-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Soporte telefónico durante horario laboral
            </li>
          </ul>
        </div>
        <div class="rounded-3xl p-8 ring-1 ring-gray-200 xl:p-10">
          <div class="flex items-center justify-between gap-x-4">
            <h3
              id="tier-enterprise"
              class="text-lg/8 font-semibold text-gray-900"
            >
              Ilimitado
            </h3>
          </div>
          <p class="mt-4 text-sm/6 text-gray-600">
            Soluciones personalizadas con más funcionalidades
          </p>
          <p class="mt-6 flex items-baseline gap-x-1">
            <!-- Price, update based on frequency toggle state -->
            <span class="text-4xl font-semibold tracking-tight text-gray-900"
              >$25</span
            >
            <!-- Payment frequency, update based on frequency toggle state -->
            <span class="text-sm/6 font-semibold text-gray-600">/mes</span>
          </p>
          <a
            href="#"
            aria-describedby="tier-enterprise"
            class="mt-6 block rounded-md px-3 py-2 text-center text-sm/6 font-semibold text-blue-600 ring-1 ring-inset ring-blue-200 hover:ring-blue-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
            >Comprar plan</a
          >
          <ul
            role="list"
            class="mt-8 space-y-3 text-sm/6 text-gray-600 xl:mt-10"
          >
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-blue-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Consultas ilimitadas y personalizadas
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-blue-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Revisión de contratos laborales y documentos complejos
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-blue-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Asesoría legal proactiva y seguimiento de casos
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-blue-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Acceso prioritario a webinars y eventos exclusivos
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
