<div class="py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="bg-white shadow-sm rounded-xl p-6">
      <div class="max-w-4xl text-center">
        <h2 class="text-base font-semibold text-blue-600 text-left">Pricing</h2>
        <p
          class="mt-2 text-balance text-left text-4xl font-semibold tracking-tight text-gray-900 sm:text-4xl font-robotoSlab"
        >
          Pricing that grows with you
        </p>
      </div>
      <p
        class="mt-6 max-w-2xl text-pretty text-left text-base font-medium text-gray-600"
      >
        Choose an affordable plan that’s packed with the best features for
        engaging your audience, creating customer loyalty, and driving sales.
      </p>
    </div>

    <div class="bg-white shadow-sm rounded-xl mt-2 p-6">
      <div
        class="isolate mx-auto grid max-w-md grid-cols-1 gap-8 lg:mx-0 lg:max-w-none lg:grid-cols-3"
      >
        <div class="rounded-3xl p-8 ring-1 ring-gray-200 xl:p-10">
          <div class="flex items-center justify-between gap-x-4">
            <h3
              id="tier-freelancer"
              class="text-lg/8 font-semibold text-gray-900"
            >
              Freelancer
            </h3>
          </div>
          <p class="mt-4 text-sm/6 text-gray-600">
            The essentials to provide your best work for clients.
          </p>
          <p class="mt-6 flex items-baseline gap-x-1">
            <!-- Price, update based on frequency toggle state -->
            <span class="text-4xl font-semibold tracking-tight text-gray-900"
              >$19</span
            >
            <!-- Payment frequency, update based on frequency toggle state -->
            <span class="text-sm/6 font-semibold text-gray-600">/month</span>
          </p>
          <a
            href="#"
            aria-describedby="tier-freelancer"
            class="mt-6 block rounded-md px-3 py-2 text-center text-sm/6 font-semibold text-blue-600 ring-1 ring-inset ring-blue-200 hover:ring-blue-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
            >Buy plan</a
          >
          <ul
            role="list"
            class="mt-8 space-y-3 text-sm/6 text-gray-600 xl:mt-10"
          >
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-blue-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              5 products
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-blue-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Up to 1,000 subscribers
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-blue-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Basic analytics
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-blue-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              48-hour support response time
            </li>
          </ul>
        </div>
        <div class="rounded-3xl p-8 ring-2 ring-blue-600 xl:p-10">
          <div class="flex items-center justify-between gap-x-4">
            <h3 id="tier-startup" class="text-lg/8 font-semibold text-blue-600">
              Startup
            </h3>
            <p
              class="rounded-full bg-blue-600/10 px-2.5 py-1 text-xs/5 font-semibold text-blue-600"
            >
              Most popular
            </p>
          </div>
          <p class="mt-4 text-sm/6 text-gray-600">
            A plan that scales with your rapidly growing business.
          </p>
          <p class="mt-6 flex items-baseline gap-x-1">
            <!-- Price, update based on frequency toggle state -->
            <span class="text-4xl font-semibold tracking-tight text-gray-900"
              >$29</span
            >
            <!-- Payment frequency, update based on frequency toggle state -->
            <span class="text-sm/6 font-semibold text-gray-600">/month</span>
          </p>
          <a
            href="#"
            aria-describedby="tier-startup"
            class="mt-6 block rounded-md bg-blue-600 px-3 py-2 text-center text-sm/6 font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
            >Buy plan</a
          >
          <ul
            role="list"
            class="mt-8 space-y-3 text-sm/6 text-gray-600 xl:mt-10"
          >
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-blue-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              25 products
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-blue-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Up to 10,000 subscribers
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-blue-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Advanced analytics
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-blue-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              24-hour support response time
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-blue-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Marketing automations
            </li>
          </ul>
        </div>
        <div class="rounded-3xl p-8 ring-1 ring-gray-200 xl:p-10">
          <div class="flex items-center justify-between gap-x-4">
            <h3
              id="tier-enterprise"
              class="text-lg/8 font-semibold text-gray-900"
            >
              Enterprise
            </h3>
          </div>
          <p class="mt-4 text-sm/6 text-gray-600">
            Dedicated support and infrastructure for your company.
          </p>
          <p class="mt-6 flex items-baseline gap-x-1">
            <!-- Price, update based on frequency toggle state -->
            <span class="text-4xl font-semibold tracking-tight text-gray-900"
              >$59</span
            >
            <!-- Payment frequency, update based on frequency toggle state -->
            <span class="text-sm/6 font-semibold text-gray-600">/month</span>
          </p>
          <a
            href="#"
            aria-describedby="tier-enterprise"
            class="mt-6 block rounded-md px-3 py-2 text-center text-sm/6 font-semibold text-blue-600 ring-1 ring-inset ring-blue-200 hover:ring-blue-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
            >Buy plan</a
          >
          <ul
            role="list"
            class="mt-8 space-y-3 text-sm/6 text-gray-600 xl:mt-10"
          >
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-blue-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Unlimited products
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-blue-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Unlimited subscribers
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-blue-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Advanced analytics
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-blue-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              1-hour, dedicated support response time
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-blue-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Marketing automations
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-blue-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Custom reporting tools
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
