---
import CheckCircle from "astro-heroicons/outline/CheckCircle.astro";
import ArrowUpRight from "astro-heroicons/outline/ArrowUpRight.astro";
import laywer from "../../../../assets/images/hero/lawyer.jpeg";

import { languageList, useTranslations } from "../../../../i18n/";
const currentLang = Astro.currentLocale || "es";

const translateLabels = useTranslations(
  currentLang as keyof typeof languageList
);
---

<section
  class="p-4 mt-[150px] md:mt-[112px] relative z-10"
  aria-labelledby="hero-heading"
>
  <div
    class="relative w-full h-auto md:h-[920px] overflow-hidden rounded-lg flex items-center justify-center"
  >
    <img
      src="https://images.pexels.com/photos/8428070/pexels-photo-8428070.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="Un abogado en su oficina"
      class="w-full h-full object-cover absolute z-[-1] top-0 left-0 overflow-hidden object-bottom"
      loading="lazy"
    />
    <div
      class="w-full h-full absolute inset-0 bg-black/65 backdrop-blur-sm"
      aria-hidden="true"
    >
    </div>
    <div
      class="relative z-10 w-full max-w-7xl px-4 grid grid-cols-1 md:grid-cols-2"
    >
      <div class="w-full max-w-2xl">
        <p
          class="text-white font-medium text-lg text-left mb-4 mt-12 md:mt-0"
          id="hero-subheading"
        >
          {translateLabels("home.hero.tag")}
        </p>
        <h1 id="hero-heading" class="text-white font-bold text-4xl text-left">
          {translateLabels("home.hero.title")}
        </h1>
        <p class="text-white/80 text-left mt-8">
          {translateLabels("home.hero.description")}
        </p>
        <form
          class="mt-10 flex max-w-md gap-x-4"
          aria-label="Suscripción por correo"
        >
          <label for="email-address" class="sr-only">
            {translateLabels("home.hero.input.label")}
          </label>
          <input
            id="email-address"
            name="email"
            type="email"
            autocomplete="email"
            required
            class="min-w-0 flex-auto rounded-md bg-white/15 backdrop-blur-lg px-3.5 py-2 text-sm text-white outline outline-1 -outline-offset-1 outline-white/15 placeholder:text-white/60 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-white sm:text-sm/6"
            placeholder={translateLabels("home.hero.input.placeholder")}
          />
          <button
            type="submit"
            class="flex-none rounded-md bg-white px-4 py-2.5 text-sm font-semibold text-gray-900 shadow-sm hover:bg-white/90 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-500"
          >
            {translateLabels("shared.join")}
          </button>
        </form>
        <ul
          class="w-full flex gap-4 flex-wrap mt-8 flex-col"
          aria-labelledby="benefits-heading"
        >
          <h2 id="benefits-heading" class="sr-only">
            {translateLabels("home.hero.benefits")}
          </h2>
          <li class="flex items-center gap-1 text-white text-sm">
            <CheckCircle class="size-5 text-white/70" aria-hidden="true" />
            {translateLabels("home.hero.benefits.cases")}
          </li>
          <li class="flex items-center gap-1 text-white text-sm">
            <CheckCircle class="size-5 text-white/70" aria-hidden="true" />
            {translateLabels("home.hero.benefits.safe")}
          </li>
          <li class="flex items-center gap-1 text-white text-sm">
            <CheckCircle class="size-5 text-white/70" aria-hidden="true" />
            {translateLabels("home.hero.benefits.meet")}
          </li>
        </ul>
      </div>
      <div
        class="flex items-start justify-end mt-12 mb-12 md:mb-0 md:mt-0 w-full"
      >
        <a
          href="#"
          class="bg-white/10 backdrop-blur-md rounded-lg p-2 cursor-pointer animate-smooth-bounce hover:animate-none group w-full md:w-fit"
          aria-label="Conoce más sobre nosotros"
        >
          <img
            src="https://images.pexels.com/photos/14726611/pexels-photo-14726611.jpeg"
            alt="Abogados en una reunión"
            class="md:w-56 h-48 object-cover rounded-lg w-full"
            loading="lazy"
          />
          <div
            class="text-white mt-4 flex items-start justify-between whitespace-pre-line"
          >
            <p>
              {translateLabels("home.hero.about.title")}
            </p>
            <ArrowUpRight
              class="size-4 text-white mt-1 group-hover:mt-0 transition-all"
              aria-hidden="true"
            />
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<style>
  @keyframes smooth-bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .animate-smooth-bounce {
    animation: smooth-bounce 3s linear infinite;
  }
</style>
