---

---

<div>
  <script type="module">
    import("@justinribeiro/lite-youtube");
  </script>
  <lite-youtube videoid="guJLfqTFfIw">
    <a
      class="lite-youtube-fallback"
      href="https://www.youtube.com/watch?v=guJLfqTFfIw"
    >
      Watch on YouTube: "Sample output of devtools-to-video cli tool"
    </a>
  </lite-youtube>
</div>
