---
import logo from "../../../../assets/logo.png";
import PrimaryButton from "../../../shared/primary-button/primary-button.astro";
import SecondayButton from "../../../shared/seconday-button/seconday-button.astro";
---

<header class="pt-0 fixed w-full z-50 top-0 bg-white/50 backdrop-blur-xl">
  <div
    class="flex items-center gap-x-6 bg-blue-600 px-6 py-2.5 sm:px-3.5 sm:before:flex-1"
  >
    <p class="text-sm/6 text-white">
      <a href="#">
        <strong class="font-semibold">GeneriCon 2023</strong><svg
          viewBox="0 0 2 2"
          class="mx-2 inline size-0.5 fill-current"
          aria-hidden="true"><circle cx="1" cy="1" r="1"></circle></svg
        >Join us in Denver from June 7 – 9 to see what’s coming next&nbsp;<span
          aria-hidden="true">&rarr;</span
        >
      </a>
    </p>
    <div class="flex flex-1 justify-end">
      <button
        type="button"
        class="-m-3 p-3 focus-visible:outline-offset-[-4px]"
      >
        <span class="sr-only">Dismiss</span>
        <svg
          class="size-5 text-white"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
          data-slot="icon"
        >
          <path
            d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z"
          ></path>
        </svg>
      </button>
    </div>
  </div>

  <nav
    class="flex items-center justify-between px-6 py-4 lg:px-8 rounded-xl max-w-7xl mx-auto w-full"
    aria-label="Global"
  >
    <div class="flex items-center">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Arxatec</span>

        <img src={logo.src} alt="logo" class="object-cover w-32" />
      </a>
    </div>
    <div class="flex lg:hidden">
      <button
        type="button"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="size-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a href="#" class="text-sm/6 font-semibold text-gray-900">Producto</a>
      <a href="#" class="text-sm/6 font-semibold text-gray-900">Comunidad</a>
      <a href="#" class="text-sm/6 font-semibold text-gray-900">Planes</a>
      <a href="#" class="text-sm/6 font-semibold text-gray-900">Blog</a>
    </div>
    <div class="hidden lg:flex gap-4 lg:justify-end">
      <SecondayButton
        text="Registrarse"
        className="border-blue-600 bg-transparent text-blue-600"
      />
      <PrimaryButton text="Iniciar sesión" />
    </div>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div class="lg:hidden" role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-10"></div>
    <div
      class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
    >
      <div class="flex items-center justify-between">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Arxatec</span>
          <img class="h-8 w-auto" src={logo.src} alt="arxatec" />
        </a>
        <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Close menu</span>
          <svg
            class="size-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
            data-slot="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18 18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a
              href="#"
              class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50"
              >Product</a
            >
            <a
              href="#"
              class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50"
              >Features</a
            >
            <a
              href="#"
              class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50"
              >Marketplace</a
            >
            <a
              href="#"
              class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50"
              >Company</a
            >
          </div>
          <div class="py-6">
            <PrimaryButton text="Iniciar sessión" />
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
