<section class="p-4 relative z-10">
  <div
    class="relative w-full h-auto overflow-hidden rounded-lg flex items-end justify-center"
  >
    <img
      src="https://images.pexels.com/photos/5673501/pexels-photo-5673501.jpeg"
      alt="Un abogado en su oficina"
      class="w-full h-full object-cover absolute z-[-1] top-0 left-0 overflow-hidden object-top"
      loading="lazy"
    />
    <div class="w-full h-full absolute inset-0 bg-black/65" aria-hidden="true">
    </div>
    <div
      class="relative z-20 w-full max-w-7xl mx-auto py-44 px-6 lg:px-8 flex items-end justify-between flex-wrap"
    >
      <div class="max-w-2xl">
        <div class="flex items-center">
          <span
            class="block w-fit bg-white/15 backdrop-blur-lg px-4 py-1.5 text-white lg:text-base text-sm rounded-full"
          >
            Asesoria legal
          </span>
        </div>
        <h2 class="lg:text-4xl text-2xl text-white font-bold mt-8">
          Cómo vestirse adecuadamente para aumentar tus posibilidades de éxito
          en un juicio
        </h2>
        <p class="lg:text-lg text-sm text-white/60 mt-4">
          La forma en que te vistes en un juicio puede influir en la percepción
          del juez y el jurado. Proyectar una imagen profesional, confiable y
          respetuosa es clave para generar una buena impresión. En este
          artículo...
        </p>
      </div>
      <div>
        <span class="flex items-center gap-2 lg:justify-end lg:mt-0 mt-4">
          <img
            class="rounded-full size-9 object-cover"
            alt="username"
            src="https://images.pexels.com/photos/5721002/pexels-photo-5721002.jpeg"
          />
          <p class="lg:text-lg text-sm text-white font-semibold">
            Rafael Aguirre
          </p>
        </span>
        <span class="flex items-center mt-4 gap-2 lg:justify-end flex-wrap">
          <p class="lg:text-base text-sm text-white/70">24 de enero del 2024</p>
          <span class="size-1.5 rounded-full bg-white/70"></span>
          <p class="lg:text-base text-sm text-white/70">
            10 minutos de lectura
          </p>
        </span>
      </div>
    </div>
  </div>
</section>
