---
const { text, className = "" } = Astro.props;
---

<button
  class={` ${className} rounded-md bg-transparent px-4 py-2 text-sm font-semibold text-blue-600 shadow-xs hover:bg-blue-50 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 border-blue-600 border`}
>
  {text}
</button>
