---
import Star from "astro-heroicons/solid/Star.astro";
---

<div class="p-6 bg-slate-100 rounded-xl">
  <div class="flex items-center gap-[2px]">
    <Star class="size-4 text-amber-600" />
    <Star class="size-4 text-amber-600" />
    <Star class="size-4 text-amber-600" />
    <Star class="size-4 text-amber-600" />
    <Star class="size-4 text-amber-600" />
    <span class="text-gray-900 text-sm font-semibold block ml-2">5.0</span>
  </div>
  <p class="text-gray-700 font-base text-sm mt-6">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi officia
    excepturi consequatur dicta eius soluta quas, ducimus repudiandae cumque
    repellat ab, sapiente praesentium iure quidem fuga! Voluptatibus nisi
    dignissimos consequuntur.
  </p>
  <span class="text-gray-900 font-semibold text-sm mt-6 block">
    Huancayo, Perú
  </span>
</div>
