---
import { languageList, useTranslations } from "../../../../i18n/";
const currentLang = Astro.currentLocale || "es";

const translateLabels = useTranslations(
  currentLang as keyof typeof languageList,
);
---

<div class="pb-24 md:pb-32 pt-6">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="bg-white rounded-xl shadow-sm overflow-hidden p-6">
      <p
        class="mt-2 max-w-lg text-pretty lg:text-4xl text-2xl font-semibold tracking-tight text-gray-950 text-left"
      >
        {translateLabels("support.contact.title")}
      </p>
      <p
        class="lg:mt-6 mt-2 max-w-2xl text-pretty text-left lg:lg:text-base text-sm font-medium text-gray-600"
      >
        {translateLabels("support.contact.description")}
      </p>
    </div>
    <div class="mt-2 grid lg:grid-cols-2 gap-2">
      <div
        class="overflow-hidden shadow-sm rounded-xl relative bg-white p-6 divide-y divide-gray-200"
      >
        <div class="pb-6">
          <h2 class="text-gray-900 font-bold lg:text-lg text-base">
            {translateLabels("support.contact.info.email.title")}
          </h2>
          <p class="text-gray-600 mt-2 text-sm lg:lg:text-base">
            {translateLabels("support.contact.info.email.description")}
          </p>

          <a
            href=""
            class="underline text-gray-900 font-semibold block mt-6 text-sm lg:lg:text-base"
            >arxatec.developers@gmail.com</a
          >
        </div>
        <div class="py-6">
          <h2 class="text-gray-900 font-bold lg:text-lg text-base">
            {translateLabels("support.contact.info.chat.title")}
          </h2>
          <p class="text-gray-600 mt-2 text-sm lg:lg:text-base">
            {translateLabels("support.contact.info.chat.description")}
          </p>

          <a
            href=""
            class="underline text-gray-900 font-semibold block mt-6 text-sm lg:lg:text-base"
          >
            {translateLabels("support.contact.info.chat.button")}
          </a>
        </div>
        <div class="py-6">
          <h2 class="text-gray-900 font-bold lg:text-lg text-base">
            {translateLabels("support.contact.info.phone.title")}
          </h2>
          <p class="text-gray-600 mt-2 text-sm lg:lg:text-base">
            {translateLabels("support.contact.info.phone.description")}
          </p>

          <a
            href=""
            class="underline text-gray-900 font-semibold block mt-6 text-sm lg:lg:text-base"
            >+51 967523180</a
          >
          <a
            href=""
            class="underline text-gray-900 font-semibold block mt-2 text-sm lg:lg:text-base"
            >+04 012112</a
          >
        </div>
        <div class="py-6">
          <h2 class="text-gray-900 font-bold lg:text-lg text-base">
            {translateLabels("support.contact.info.location.title")}
          </h2>
          <p class="text-gray-600 mt-2 text-sm lg:lg:text-base">
            {translateLabels("support.contact.info.location.description")}
          </p>

          <a
            href=""
            class="underline text-gray-900 font-semibold block mt-6 text-sm lg:lg:text-base"
            >Torre Galena 234, Huancayo, Junín, Perú</a
          >
        </div>
      </div>
      <div class="bg-white rounded-xl shadow-sm p-6 flex flex-col">
        <div class="flex items-center gap-2">
          <div class="w-full">
            <label for="name" class="block text-sm/6 font-medium text-gray-900">
              {translateLabels("support.contact.form.name.label")}
            </label>
            <div class="mt-2">
              <input
                type="text"
                name="name"
                id="name"
                class="block w-full rounded-md bg-white px-3 py-1.5  text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 text-sm"
                placeholder={translateLabels(
                  "support.contact.form.name.placeholder",
                )}
              />
            </div>
          </div>
          <div class="w-full">
            <label
              for="lastname"
              class="block text-sm/6 font-medium text-gray-900"
            >
              {translateLabels("support.contact.form.lastname.label")}
            </label>
            <div class="mt-2">
              <input
                type="text"
                name="lastname"
                id="lastname"
                class="block w-full rounded-md bg-white px-3 py-1.5  text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm"
                placeholder={translateLabels(
                  "support.contact.form.lastname.placeholder",
                )}
              />
            </div>
          </div>
        </div>
        <div class="mt-4">
          <label for="email" class="block text-sm/6 font-medium text-gray-900">
            {translateLabels("support.contact.form.email.label")}
          </label>
          <div class="mt-2">
            <input
              type="email"
              name="email"
              id="email"
              class="block w-full rounded-md bg-white px-3 py-1.5 text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 text-sm"
              placeholder={translateLabels(
                "support.contact.form.email.placeholder",
              )}
            />
          </div>
        </div>
        <div class="mt-4">
          <label for="phone" class="block text-sm/6 font-medium text-gray-900">
            {translateLabels("support.contact.form.phone.label")}
          </label>
          <div class="mt-2">
            <input
              type="text"
              name="phone"
              id="phone"
              class="block w-full rounded-md bg-white px-3 py-1.5  text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 text-sm"
              placeholder={translateLabels(
                "support.contact.form.phone.placeholder",
              )}
            />
          </div>
        </div>
        <div class="mt-4">
          <label
            for="country"
            class="block text-sm/6 font-medium text-gray-900"
          >
            {translateLabels("support.contact.form.country.label")}
          </label>
          <div class="mt-2">
            <input
              type="text"
              name="country"
              id="country"
              class="block w-full rounded-md bg-white px-3 py-1.5 text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 text-sm"
              placeholder={translateLabels(
                "support.contact.form.country.placeholder",
              )}
            />
          </div>
        </div>

        <div class="mt-4">
          <label
            for="country"
            class="block text-sm/6 font-medium text-gray-900"
          >
            {translateLabels("support.contact.form.subject.label")}
          </label>
          <div class="mt-2">
            <input
              type="text"
              name="country"
              id="country"
              class="block w-full rounded-md bg-white px-3 py-1.5  text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 text-sm"
              placeholder={translateLabels(
                "support.contact.form.subject.placeholder",
              )}
            />
          </div>
        </div>

        <div class="mt-4">
          <label
            for="comment"
            class="block text-sm/6 font-medium text-gray-900"
          >
            {translateLabels("support.contact.form.message.label")}
          </label>
          <div class="mt-2">
            <textarea
              rows="4"
              name="comment"
              id="comment"
              placeholder={translateLabels(
                "support.contact.form.message.placeholder",
              )}
              class="block w-full rounded-md bg-white px-3 py-1.5  text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 text-sm"
            ></textarea>
          </div>
        </div>
        <p class="text-sm mt-4 text-gray-700">
          {translateLabels("support.contact.form.message.legal")}
        </p>

        <button
          class="rounded-md bg-blue-600 px-4 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 w-full mt-12"
        >
          {translateLabels("support.contact.form.button")}
        </button>
      </div>
    </div>
  </div>
</div>
